.transparent {
	position: absolute;
	background: transparent;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.2);
}
.boxed #wrapper { position: relative; }

.transparent .menu ul li a {
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 19px;
}

.transparent .menu ul ul li a {
    color: #959595;
    font-size: 14px;
    letter-spacing: 0px;
}

.transparent ul.float-right li a {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}

.transparent ul.float-right li a:hover {
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

.transparent .menu ul ul li a:hover { color: #fff; }
.transparent .sf-with-ul::after { color: rgba(255,255,255,0.8); }

#banner.with-transparent-header {
	max-height: 710px;
	background-attachment: fixed;
}

#banner.with-transparent-header .search-container {
	padding: 190px 0;
	margin-top: 45px;

}

#banner.with-transparent-header:before { background-color: rgba(42, 46, 50, 0.7); }
.transparent.alternative #navigation { border-top: none; }
.transparent #logo { border-bottom: none; }


/* Smaller than standard 1180 (devices and browsers) */
@media only screen and (min-width: 960px) and (max-width: 1289px) {
	#banner.with-transparent-header .search-container {  margin-top: 65px; }
}


/* Tablets */
@media only screen and (max-width: 990px) {

	.transparent.alternative #navigation ul.float-right a {
	    color: #fff;
	    background: transparent;
	}
	.transparent #navigation ul.float-right {
	    right: -15px;
	    top: 15px;
	    position: absolute;
	    text-align: right;
	}
	.transparent a.menu-trigger { background: rgba(255,255,255,0.2); }
	.transparent { box-shadow: none; }
	#banner.with-transparent-header .search-container {  margin-top: 65px; }
}


/* Mobiles */
@media only screen and (max-width: 767px) {

	.transparent #logo { padding-bottom: 0; }
	.transparent #navigation ul.float-right {
	    right: -15px;
	    top: 0;
	    position: relative;
	    text-align: center;
	}

	#banner.with-transparent-header .search-container {
	    padding: 190px 0;
	    margin-top: 35px;
	}

	#banner.with-transparent-header { max-height: 760px; }
	#logo img {  margin: 35px auto 10px auto; }
}


/* White dropdown for transparent header */
.transparent .menu ul ul {
	background-color: #fff;
}

.transparent .menu ul ul:before { color: #fff; }

.transparent .menu ul li.sfHover ul li a.sf-with-ul,
.transparent .menu ul ul li a {
	color: #808080;
	background-color: #fff;
}

.transparent .menu ul ul li a:hover { color: #333; }

agm-map {
  height: 400px;
}