<app-common-header></app-common-header>

<!-- Content
================================================== -->
<div class="container">
  <app-scout-map [lat]="lat" [lng]="lng" [markers]="markers"></app-scout-map>
  <!-- Recent Jobs -->
  <div class="eleven columns">
  <div class="padding-right">

    <form action="#" method="get" class="list-search">
      <button><i class="fa fa-search"></i></button>
      <input type="text" placeholder="Search freelancer services (e.g. logo design)" value=""/>
      <div class="clearfix"></div>
    </form>

    <div *ngFor="let freelancer of freelancers">
    <ul class="resumes-list">

      <li><a [routerLink]="['/browse-candidate', freelancer.id]" routerLinkActive="Active">
        <img src="/assets/images/resumes-list-avatar-01.png" alt="">
        <div class="resumes-list-content">
          <h4>John Doe <span>UX/UI Graphic Designer</span></h4>
          <span><i class="fa fa-map-marker"></i> Melbourne</span>
          <p>{{freelancer.description}}</p>

          <div class="skills" *ngFor="let skill of freelancer.technologies">
            <span>{{skill}}</span>
          </div>
          <div class="clearfix"></div>

        </div>
        </a>
        <div class="clearfix"></div>
      </li>

    </ul>
    </div>
    <div class="clearfix"></div>

    <div class="pagination-container">
      <nav class="pagination">
        <ul>
          <li><a href="#" class="current-page">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li class="blank">...</li>
          <li><a href="#">8</a></li>
        </ul>
      </nav>

      <nav class="pagination-next-prev">
        <ul>
          <li><a href="#" class="prev">Previous</a></li>
          <li><a href="#" class="next">Next</a></li>
        </ul>
      </nav>
    </div>

  </div>
  </div>
  <!-- Widgets -->
  <div class="five columns">
    <!-- Sort by -->
    <div class="widget">
      <h4>Sort by</h4>
      <!-- Select -->
      <select data-placeholder="Choose Category" class="chosen-select-no-single">
        <option selected="selected" value="recent">Relevance</option>
        <option value="">Hourly Rate – Highest First</option>
        <option value="">Hourly Rate – Lowest First</option>
      </select>
    </div>
    <!-- Skills -->
    <div class="widget">
      <h4>Skills</h4>
      <!-- Select -->
      <form action="#" method="get">
        <select data-placeholder="Select Skills" class="chosen-select" multiple>
          <option value="">Adobe Photoshop</option>
          <option value="">PHP</option>
          <option value="">HTML</option>
          <option value="">CSS</option>
          <option value="">JavaScript</option>
          <option value="">jQuery</option>
          <option value="">MySQL</option>
          <option value="">WordPress</option>
        </select>
        <div class="margin-top-15"></div>
        <button class="button">Filter</button>
      </form>
    </div>
    <!-- Location -->
    <div class="widget">
      <h4>Location</h4>
        <form action="#" method="get">
      <app-location-autocomplete [scoutLocation]="scoutLocation" (updateLocation)="updateLocation($event)"></app-location-autocomplete>
    <!--    <input type="text" [(ngModel)] = "address"
         [options]="options"
         (setAddress) = "getAddress($event)"
          id="autocomplete"
          name="autocompletelocation"
         ng2-google-place-autocomplete/> -->

        <button class="button">Filter</button>
       </form>
    </div>
  </div>
  <!-- Widgets / End -->


</div>


<app-footer></app-footer>
