select{
    margin-top: 8px;
    padding: 15px;
}
#titlebar {
    background-color: #f6f6f6;
    position: relative;
    padding: 50px;
    margin-bottom: 20px;
}
.pagination {
    margin: 30px 0 0 0;
    text-align: center;
    overflow: hidden;
}
.job-list .job-list-content {
    display: block;
    margin-left: 0px;
    position: relative;
}
p {
    margin: 15px 0 15px 0;
}
.job-list h4 span {
    padding: 5px;
}

agm-map {
    height: 400px;
}
.domain{
    font-weight: bold;
}
