<app-common-header></app-common-header>


<!-- Titlebar
================================================== -->
<div id="titlebar">
    <div class="container">
      <div class="twelve columns">
        <span class="doamin">{{domain}}</span>
        <h2>{{job.title}} <span class="full-time">Full-Time</span></h2>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">

    <!-- Recent Jobs -->
    <div class="eleven columns">
    <div class="padding-right">

      <!-- Company Info -->
      <div class="company-info">
        <img src="assets/images/company-logo.png" alt="">
        <div class="content">
          <h4>{{technologies}}</h4>
          <span><i class="fa fa-calendar"></i> Posted At {{job.created_at | date: 'MMM d, y, h:mm:ss a'}}</span><br>
          <span><i class="fa fa-calendar"></i> Closed By {{job.created_at | date: 'MMM d, y, h:mm:ss a'}}</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <p class="margin-reset">
       {{job.description}}
      </p>
      <br>
    </div>
    </div>


    <!-- Widgets -->
    <div class="five columns">

      <!-- Sort by -->
      <div class="widget">
        <h4>Overview</h4>

        <div class="job-overview">

          <ul>
            <li>
              <i class="fa fa-map-marker"></i>
              <div>
                <strong>Location:</strong>
                <span>{{job.job_location.lat+' , '+job.job_location.lng}}</span>
              </div>
            </li>
            <li>
              <i class="fa fa-user"></i>
              <div>
                <strong>Job Title:</strong>
                <span>{{job.title}}</span>
              </div>
            </li>
          </ul>

          <a href="#small-dialog" class="popup-with-zoom-anim button">Apply For This Job</a>
          <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
            <div class="small-dialog-headline">
              <h2>Apply For This Job</h2>
            </div>

            <div class="small-dialog-content">
              <form action="#" method="get" >
                <h5>User Name</h5>
                <input type="text" placeholder="User Name" [(ngModel)]="username" name="username" readonly="readonly"/>
                <h5>Email</h5>
                <input type="text" placeholder="Email Address" [(ngModel)]="email" name="email"/>
                <h5>Contact Number</h5>
                <input type="number" placeholder="Contact Number" [(ngModel)]="phone" name="phone"/>
                <h5>Message</h5>
                <textarea placeholder="Your message / cover letter sent to the employer"
                          [(ngModel)]="message"
                          name="message"></textarea>

                <!-- Upload CV -->
            <!--    <div class="upload-info"><strong>Upload your CV (optional)</strong> <span>Max. file size: 5MB</span></div>
                <div class="clearfix"></div>

                <label class="upload-btn">
                    <input type="file" multiple />
                    <i class="fa fa-upload"></i> Browse
                </label>
                <span class="fake-input">No file selected</span>  -->

                <div class="divider"></div>

                <button class="send" (click)="applyJob()">Send Application</button>
              </form>
            </div>

          </div>

        </div>

      </div>
    </div>
    <!-- Widgets / End -->
  </div>
  <h4 style="text-align:center;font-weight:bold;">Job Location</h4>
  <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <app-footer></app-footer>
