<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="true"
  [zoomControl]="false">

  <agm-marker #gm
      *ngFor="let m of markers; let i = index"
      (mouseOver)="onMouseOver(infoWindow,gm)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable">

      <agm-info-window [disableAutoPan]="false" #infoWindow>

              <div *ngFor="let tech of m.technologies">
                  {{tech}}
              </div>

          </agm-info-window>

  </agm-marker>


</agm-map>
