:host ::ng-deep ng-select > div {
  height: 50px;
  border-radius: 3px;
  background: white;
}

:host ::ng-deep ng-select > div > div.multiple input {
  margin-top: 10px;
  font-family:  "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 10px;
}

:host ::ng-deep ng-select > div > div.multiple > div.option {
  padding-top: 7px;
  background: #26ae61;
  color: white;
}

:host ::ng-deep ng-select > div > div.multiple > div.option span.deselect-option {
  color: white;
}

:host ::ng-deep ng-select > div > div.multiple {
  overflow: auto;
}
