<!-- Header
================================================== -->
<header class="sticky-header">
 <div class="container">
  <div class="sixteen columns">

    <!-- Logo -->
    <div id="logo">
      <h1><a href="/"><img src="assets/images/logo.png" alt="Work Scout" /></a></h1>
    </div>

    <!-- Menu -->
    <nav id="navigation" class="menu">
      <ul id="responsive">

        <li><a routerLink="/" routerLinkActive="active">Home</a>
        </li>

        <li *ngIf="userRole=='admin' || userRole=='freelancer'"><a id="{{activeElement=='browse-job'? 'current': ''}}" routerLink="/browse-job" routerLinkActive="active">Browse Jobs</a></li>


				<li *ngIf="userRole=='admin' || userRole=='client'"><a id="{{activeElement=='add-job'? 'current': ''}}" routerLink="/add-job" routerLinkActive="active">Add Job</a></li>
				<li *ngIf="userRole=='admin' || userRole=='client'"><a id="{{activeElement=='manage-job'? 'current': ''}}" routerLink="/manage-job" routerLinkActive="active">Manage Jobs</a></li>
				<li *ngIf="userRole=='admin' || userRole=='client'"><a id="{{activeElement=='browse-candidate'? 'current': ''}}" routerLink="/browse-candidate" routerLinkActive="active">Candidates</a></li>


        <!-- <li><a href="blog.html">Blog</a></li> -->
      </ul>

      <ul class="float-right">
        <li *ngIf="!isLoggedIn"><a routerLink="/signup" routerLinkActive="active"><i class="fa fa-user"></i> Sign Up</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/signin" routerLinkActive="active"><i class="fa fa-lock"></i> Log In</a></li>

        <li *ngIf="isLoggedIn"><a routerLink="/myaccount" routerLinkActive="active"><i class="fa fa-user"></i> My Account</a></li>
        <li *ngIf="isLoggedIn"><a href="javascript:void(0)" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
      </ul>

    </nav>

    <!-- Navigation -->
    <div id="mobile-navigation">
      <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
    </div>

  </div>
</div>
</header>
<div class="clearfix"></div>
