<app-common-header></app-common-header>

<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
  <div class="small-dialog-headline">
    <h2>Get Location</h2>
  </div>
  <div class="small-dialog-content" style="padding:0px;">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerMove($event)"></agm-marker>
      </agm-map>
  </div>
</div>


<!-- Titlebar
================================================== -->
<div id="titlebar" class="single submit-page">
  <div class="container">
    <div class="sixteen columns">
      <h2><i class="fa fa-plus-circle"></i> Update Job</h2>
    </div>
  </div>
</div>

<form #addjobForm="ngForm" novalidate="">
<!-- Content
================================================== -->
<div class="container">
  <!-- Submit Page -->
  <div class="sixteen columns">
    <div class="submit-page">

      <!-- Notice -->
      <div class="notification notice closeable margin-bottom-40">
        <p><span>Have an account?</span> If you don’t have an account you can create one below by entering your email address. A password will be automatically emailed to you.</p>
      </div>

      <!-- Title -->
      <div class="form">
        <h5>Job Title</h5>
        <input class="search-field" type="text" name="title" [(ngModel)]="add_job.title" #title="ngModel" required="required" value=""/>
      </div>

      <div class="form">
        <h5>Location<span>
          </span>
        </h5>
        <input class="search-field" type="text" name="job_location" id="job_location" [(ngModel)]="add_job.job_location" #job_location="ngModel" required="required" readonly="readonly"/>
        <a (click)="openmap()" href="#small-dialog" class="popup-with-zoom-anim"><span class="location_span"><i class="fa fa-map-marker"></i></span></a>
      </div>

      <!-- Job Type -->
      <div class="form">
        <h5>Job Type</h5>
        <select data-placeholder="Full-Time" class="chosen-select-no-single" name="job_type" id="job_type" [(ngModel)]="add_job.job_type" #job_type="ngModel" required="required">
          <option value="Full-Time">Full-Time</option>
          <option value="Freelance">Freelance</option>
        </select>
      </div>

      <!-- Choose Category -->
      <div class="form">
        <div class="select">
          <h5>Category</h5>
          <select placeholder="Choose Categories" class="chosen-select" name="domain" id="domain" [(ngModel)]="add_job.domain" #domain="ngModel" multiple>
            <option value="" disabled="disabled">Select Category</option>
            <option value="Web Developers">Web Developers</option>
            <option value="Web Designers">Web Designers</option>
            <option value="Android Designers">Android Designers</option>
            <option value="IOS Designers">IOS Designers</option>
          </select>
        </div>
      </div>

      <!-- Tags -->
      <div class="form">
        <h5>Job Tags</h5>
        <select placeholder="Choose Categories" class="chosen-select" name="technologies" id="technologies" [(ngModel)]="add_job.technologies" #technologies="ngModel" multiple>
            <option value="" disabled="disabled">Select Technologies</option>
            <option value="PHP">PHP</option>
            <option value="MYSQL">MYSQL</option>
            <option value="HTML">HTML</option>
            <option value="JS">CSS</option>
            <option value="ANGULARJS">ANGULARJS</option>
            <option value="NODEJS">NODEJS</option>
            <option value="MONGODB">MONGODB</option>
            <option value="EXPRESSJS">EXPRESSJS</option>
            <option value="ANDROID">ANDROID</option>
            <option value="iOS">iOS</option>
          </select>
      </div>

      <!-- Description -->
      <div class="form">
        <h5>Description</h5>
        <textarea name="summary" cols="20" rows="3" id="summary" name="description" [(ngModel)]="add_job.description" #description="ngModel" required="required" spellcheck="true"></textarea>
      </div>

      <!-- TClosing Date -->
      <div class="form">
        <h5>Closing Date</h5>
        <input type="text" id="datepicker" name="closing_date" [(ngModel)]="add_job.closing_date" #closing_date="ngModel" required="required">
        <p class="note">Deadline for new applicants.</p>
      </div>
      <button class="button big margin-top-5" (click)="goback()">Go Back <i class="fa fa-arrow-left"></i></button>
      <button class="button big margin-top-5" (click)="update(add_job)">Update <i class="fa fa-check"></i></button>
    </div>
  </div>
</div>

</form>

<app-footer></app-footer>
