select{
    margin-top: 8px;
    padding: 15px;
}

input[type="date"]{
	padding: 14px 18px;
    outline: none;
    font-size: 15px;
    color: #909090;
    margin: 0;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fcfcfc;
    font-weight: 500;
    border: 1px solid #e0e0e0;
    opacity: 1;
}

agm-map {
  height: 300px;
}

#locateme{
    padding: 0px 0px;
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 10px;
}

.container .sixteen.columns {
    width: 60%;
    margin-left: 20%;
}
.small-dialog-headline {
    padding: 0px 0px 0px 10px;
}
.mfp-content .mfp-close {
    position: absolute !important;
    width: 40px;
    height: 40px;
    top: 0px !important;
    right: 0px !important;
    border-radius: 0px !important;
}
.location_span{
    color: #fff;
    padding: 7px 30px;
    background: #26ae61;
    border-radius: 3px;
    position: relative;
    top: -38px;
    right: -87%;
    z-index: 10;
    font-size: 30px;
}
.popup-with-zoom-anim{
    color:#fff;
}