<header class="transparent sticky-header full-width">
<div class="container">
	<div class="sixteen columns">

		<!-- Logo -->
		<div id="logo">
			<h1><a href="/"><img src="assets/images/logo2.png" alt="Work Scout" /></a></h1>
		</div>

		<!-- Menu -->
		<nav id="navigation" class="menu">
			<ul id="responsive">

				<li><a routerLink="/" routerLinkActive="active" id="current">Home</a></li>

				<li *ngIf="userRole=='admin' || userRole=='freelancer'"><a routerLink="/browse-job" routerLinkActive="active">Browse Jobs</a></li>


				<li *ngIf="userRole=='admin' || userRole=='client'"><a routerLink="/add-job" routerLinkActive="active">Add Job</a></li>
				<li *ngIf="userRole=='admin' || userRole=='client'"><a routerLink="/manage-job" routerLinkActive="active">Manage Jobs</a></li>
				<li *ngIf="userRole=='admin' || userRole=='client'"><a routerLink="/browse-candidate" routerLinkActive="active">Candidates</a></li>

				<!-- <li><a href="blog.html">Blog</a></li> -->
			</ul>

			<ul class="float-right">
				<li *ngIf="!isLoggedIn"><a routerLink="/signup" routerLinkActive="active"><i class="fa fa-user"></i> Sign Up</a></li>
				<li *ngIf="!isLoggedIn"><a routerLink="/signin" routerLinkActive="active"><i class="fa fa-lock"></i> Log In</a></li>

				<li *ngIf="isLoggedIn"><a href="/myaccount" routerLinkActive="active"><i class="fa fa-user"></i> My Account</a></li>
				<li *ngIf="isLoggedIn"><a href="javascript:void(0)" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
			</ul>

		</nav>

		<!-- Navigation -->
		<div id="mobile-navigation">
			<a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
		</div>

	</div>
</div>
</header>
<div class="clearfix"></div>
