<!-- Categories -->
<div class="container">
	<div class="sixteen columns">
		<h3 class="margin-bottom-25">Popular Categories</h3>
		<ul id="popular-categories">
			<li><a href="#"><i class="ln  ln-icon-Bar-Chart"></i> Accounting / Finance</a></li>
			<li><a href="#"><i class="ln ln-icon-Car"></i> Automotive Jobs</a></li>
			<li><a href="#"><i class="ln ln-icon-Worker"></i> Construction / Facilities</a></li>
			<li><a href="#"><i class="ln ln-icon-Student-Female"></i> Education Training</a></li>
			<li><a href="#"><i class="ln  ln-icon-Medical-Sign"></i> Healthcare</a></li>
			<li><a href="#"><i class="ln  ln-icon-Plates"></i> Restaurant / Food Service</a></li>
			<li><a href="#"><i class="ln  ln-icon-Globe"></i> Transportation / Logistics</a></li>
			<li><a href="#"><i class="ln  ln-icon-Laptop-3"></i> Telecommunications</a></li>
		</ul>

		<div class="clearfix"></div>
		<div class="margin-top-30"></div>

		<a href="browse-categories.html" class="button centered">Browse All Categories</a>
		<div class="margin-bottom-50"></div>
	</div>
</div>


<div class="container">
