<app-common-header></app-common-header>


<!-- Titlebar
================================================== -->

<div id="titlebar" class="resume">
	<div class="container">
		<div class="ten columns">
			<div class="resume-titlebar">
				<img src="assets/images/resumes-list-avatar-01.png" alt="">
				<div class="resumes-list-content">
					<h4>{{fullname}}<span>{{freelancer.category}}</span></h4>
					<span class="icons"><i class="fa fa-map-marker"></i>{{address}}</span>
					<span class="icons"><i class="fa fa-money"></i> $100 / hour</span>
					<span class="icons"><a href="https://{{freelancer.linkedin_url}}" target="_blank"><i class="fa fa-link"></i> Linkedin</a></span>
					<span class="icons"><a href="mailto:{{email}}"><i class="fa fa-envelope"></i>{{email}}</a></span>
					<div *ngFor="let tech of freelancer.technologies" class="skills">
						<span>{{tech}}</span>
					</div>
					<div class="clearfix"></div>

				</div>
			</div>
		</div>

		<div class="six columns">
			<div class="two-buttons">

				<a href="#small-dailog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i>Message</a>

				<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
					<div class="small-dialog-headline">
						<h2>Send Message to John Doe</h2>
					</div>

					<div class="small-dialog-content">
						<form action="#" method="get" >
							<input type="text" placeholder="Full Name" [(ngModel)]="clientname" name="clientname" readonly="readonly"/>
							<input type="text" placeholder="Email Address" [(ngModel)]="clientemail" name="clientemail"/>
              <input type="number" placeholder="Contact Number" [(ngModel)]="clientphone" name="clientphone"/>
							<textarea placeholder="Message"
                        [(ngModel)]="message"
                        name="message"></textarea>

							<button class="send" (click)="contactFreelancer()">Send Application</button>
						</form>
					</div>

				</div>
				<a href="#" class="button dark"><i class="fa fa-star"></i> Bookmark This Resume</a>


			</div>
		</div>

	</div>
</div>
