select{
    margin-top: 8px;
    padding: 15px;
}
.invalid_input{
    border:1px solid red;
}
span{
    color: red;
    font-weight: bold;
    font-size: 2em;
    position: relative;
    top: 15px;
    left: 5px;
}