<app-common-header></app-common-header>

<div class="container" style="width:auto;margin-top:3%;">

  	<div class="my-account">

  		<ul class="tabs-nav">
  			<li><a href="javascript:void(0)">Register</a></li>
  		</ul>

  		<div class="tabs-container">
  			<!-- Register -->
  			<div class="tab-content" id="tab2">

  			<form method="post" class="register">

            <p class="form-row form-row-wide">
              <label for="firstname">First Name:<span *ngIf="invalid_firstname">*</span>
                <i class="ln ln-icon-Male"></i>
								<input type="text" class="input-text" [ngClass]="{'invalid_input': invalid_firstname}" id="signup-firstname"/>
              </label>
            </p>

            <p class="form-row form-row-wide">
              <label for="lastname">Last Name:<span *ngIf="invalid_lastname">*</span>
                <i class="ln ln-icon-Male"></i>
								<input type="text" class="input-text" [ngClass]="{'invalid_input': invalid_lastname}" id="signup-lastname"/>
              </label>
            </p>

            <p class="form-row form-row-wide">
              <label for="lastname">Purpose:
                  <select name="purpose" class="signup-purpose-height" id="signup-purpose">
                    <option value="client">Company</option>
                    <option value="freelancer">Freelancer</option>
                  </select>
              </label>
            </p>

            <p class="form-row form-row-wide">
              <label for="username2">User Name:<span *ngIf="invalid_username">*</span>
                <i class="ln ln-icon-Male"></i>
								<input type="text" class="input-text" [ngClass]="{'invalid_input': invalid_username}" id="signup-username"/>
              </label>
            </p>


            <p class="form-row form-row-wide">
              <label for="phonenumber">Phone Number:<span *ngIf="invalid_phone">*</span>
                <i class="ln ln-icon-Phone-2"></i>
								<input type="number" class="input-number" [ngClass]="{'invalid_input': invalid_phone}" id="signup-phonenumber"/>
              </label>
            </p>

  				<p class="form-row form-row-wide">
  					<label for="email2">Email Address:<span *ngIf="invalid_email">*</span>
  						<i class="ln ln-icon-Mail"></i>
							<input type="text" class="input-text" [ngClass]="{'invalid_input': invalid_email}" id="signup-email"/>
  					</label>
  				</p>

  				<p class="form-row form-row-wide">
  					<label for="password1">Password:<span *ngIf="invalid_password1">*</span>
  						<i class="ln ln-icon-Lock-2"></i>
							<input class="input-text" type="password" [ngClass]="{'invalid_input': invalid_password1}" id="signup-password1"/>
  					</label>
  				</p>

  				<p class="form-row form-row-wide">
  					<label for="password2">Repeat Password:<span *ngIf="invalid_password2">*</span>
  						<i class="ln ln-icon-Lock-2"></i>
							<input class="input-text" type="password" [ngClass]="{'invalid_input': invalid_password2}" id="signup-password2"/>
  					</label>
  				</p>

  				<p class="form-row">
  					<input type="submit" class="button border fw margin-top-10" (click)="registerUser()" name="register" value="Register" />
  				</p>

  			</form>
  			</div>
  		</div>
  	</div>
</div>

<app-footer></app-footer>
