<app-common-header></app-common-header>

<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>Manage Jobs</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>Job Dashboard</li>
				</ul>
			</nav>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	
	<!-- Table -->
	<div class="sixteen columns">

		<p class="margin-bottom-25">Your listings are shown in the table below. Expired listings will be automatically removed after 30 days.</p>

		<table class="manage-table responsive-table">

			<tr>
				<th><i class="fa fa-file-text"></i> Title</th>
				<th><i class="fa fa-check-square-o"></i> Filled?</th>
				<th><i class="fa fa-calendar"></i> Date Posted</th>
				<th><i class="fa fa-calendar"></i> Date Expires</th>
				<th><i class="fa fa-user"></i> Applications</th>
				<th></th>
			</tr>
				
			<!-- Item #1 -->
			<tr *ngFor="let job of jobs">
				<td class="title"><a href="#">{{job.title}}</a></td>
				<td class="centered">-</td>
				<td>{{job.created_at | date : format : timezone}}</td>
				<td>{{job.updated_at | date : format : timezone}}</td>
				<td class="centered"><a href="javascript:void(0)" (click)="preview(job)" class="button">Preview</a></td>
				<td class="action">
					<a href="javascript:void(0)" (click)="edit(job)"><i class="fa fa-pencil"></i> Edit</a>
					<a href="javascript:void(0)" (click)="markedit(job)"><i class="fa  fa-check "></i> Mark Filled</a>
					<a href="javascript:void(0)" (click)="delete(job.id)" class="delete"><i class="fa fa-remove"></i> Delete</a>
				</td>
			</tr>	

		</table>

		<br>
		<button routerLink="/add-job" class="button">Add More Job</button>

	</div>

</div>

<app-footer></app-footer>
