.admin-login{
    background-color: #26ae61;
    color: #fff;
    font-weight: bold;
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 5px;
}
.login-account{
    width: 30%;
    margin: 10% auto !important;
}
.login-form{
    margin-top: 10%;
}
i.ln.ln-icon-Male, i.ln.ln-icon-Lock-2 {
    font-weight: bold;
    font-size: larger;
    color: #26ae61;
}