
<div class="container" style="width: auto; margin-top:3%;">

  	<div class="login-account">
        <h2 class="admin-login">Admin Login</h2>
        <form class="login-form">
            <p class="form-row form-row-wide">
                <label for="username"><i class="ln ln-icon-Male"></i>
                    <input type="text" class="input-text" name="username" placeholder="Username" [(ngModel)]="username" required="required"/>
                </label>
            </p>

            <p class="form-row form-row-wide">
                <label for="password"><i class="ln ln-icon-Lock-2"></i>
                    <input type="password" class="input-text" name="password" placeholder="Password" [(ngModel)]="password" required="required"/>
                </label>
            </p>

            <p class="form-row">
                <input type="submit" class="button border fw margin-top-10" value="Login" (click)="login()"/>
            </p>

        </form>
  	</div>
  </div>