<div id="banner" class="with-transparent-header parallax background" style="background-image: url(assets/images/banner-home-02.jpg)" data-img-width="2000" data-img-height="1330" data-diff="300">
	<div class="container">
		<div class="sixteen columns">

			<div class="search-container">

				<!-- Form -->
				<h2>Find freelancers</h2>
				<div class="home-search-technologies">
				<app-select-technologies
									[selectedItems]="selectedItems"
									[technologiesName]="hometechnologies"
									(updateTechnologies)="updateTechnologies($event)">
				</app-select-technologies>

				<!-- <input type="text" class="ico-01" placeholder="technologies, tools" value=""/> -->
				</div>

				<div style="display: inline;">

					<app-location-autocomplete [scoutLocation]="scoutLocation" (updateLocation)="updateLocation($event)"></app-location-autocomplete>
					<button (click)="getGeoLocation()" style="margin-left: -22px; height: 50px;"><i class="fa fa-map-marker"></i></button>

				<button style="margin-left: 10px; height: 50px;" (click)="openCandidates()"><i class="fa fa-search"></i></button>
			</div>
				<!-- Browse Jobs -->
				<div class="browse-jobs">
					Browse job offers by <a href="browse-categories.html"> category</a> or <a href="#">location</a>
				</div>

				<!-- Announce -->
				<div class="announce">
					We’ve over <strong>15 000</strong> job offers for you!
				</div>

			</div>

		</div>
	</div>
</div>
