<app-common-header></app-common-header>

<!-- Titlebar
================================================== -->
<div id="titlebar">
  <div class="container">
    <div class="ten columns">
      <h2>Web, Software & IT</h2>
    </div>

    <div class="six columns">
      
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">
  <!-- Recent Jobs -->
  <div class="eleven columns">
  <div class="padding-right">
    
    <form action="#" method="get" class="list-search">
      <button><i class="fa fa-search"></i></button>
      <input type="text" placeholder="job title, keywords or company name" value=""/>
      <div class="clearfix"></div>
    </form>

    <ul class="job-list full">
      <span *ngFor="let job of jobs;">
        <li *ngIf="job.id">
          <a href="javascript:void(0)" (click)="openjobDetails(job)">
          <div class="job-list-content">
            <h4>{{job.title}} <span class="full-time">Freelancer</span></h4>
            <div class="job-icons">
              <span><i class="fa fa-briefcase"></i>{{getme(job.domain)}} </span>
              <span><i class="fa fa-map-marker" style="padding-left:10px;"></i> {{job.job_location.lat+' , '+job.job_location.lng}}</span>
            </div>
            <p>{{job.description}}</p>
          </div>
          </a>
          <div class="clearfix"></div>
        </li>
      </span>
    </ul>
    <div class="clearfix"></div>

    <div class="pagination-container">
      <nav class="pagination">
        <ul>
        </ul>
      </nav>
      <nav class="pagination-next-prev">
        <ul>
          <li><a href="javascript:void(0)" class="prev">Previous</a></li>
          <li><a href="javascript:void(0)" class="next">Next</a></li>
        </ul>
      </nav>
    </div>

  </div>
  </div>


  <!-- Widgets -->
  <div class="five columns">

    <!-- Sort by -->
    <div class="widget">
      <h4>Sort by</h4>

      <!-- Select -->
      <select data-placeholder="Choose Category" class="chosen-select-no-single">
        <option selected="selected" value="recent">Newest</option>
        <option value="oldest">Oldest</option>
        <option value="expiry">Expiring Soon</option>
        <option value="ratehigh">Hourly Rate – Highest First</option>
        <option value="ratelow">Hourly Rate – Lowest First</option>
      </select>

    </div>

    <!-- Location -->
    <div class="widget">
      <h4>Location</h4>
      <form action="#" method="get">
        <input type="text" placeholder="State / Province" value=""/>
        <input type="text" placeholder="City" value=""/>

        <input type="text" class="miles" placeholder="Miles" value=""/>
        <label for="zip-code" class="from">from</label>
        <input type="text" id="zip-code" class="zip-code" placeholder="Zip-Code" value=""/><br>

        <button class="button">Filter</button>
      </form>
    </div>

    <!-- Job Type -->
    <div class="widget">
      <h4>Job Type</h4>

      <ul class="checkboxes">
        <li>
          <input id="check-2" type="checkbox" name="check" value="check-2">
          <label for="check-2">Full-Time <span>(312)</span></label>
        </li>
        <li>
          <input id="check-5" type="checkbox" name="check" value="check-5">
          <label for="check-5">Freelance <span>(119)</span></label>
        </li>
      </ul>

    </div>

  </div>
  <!-- Widgets / End -->


</div>

<app-footer></app-footer>
