<div class="my-loading" *ngIf="this.common.display.loader">
  <div class="loading-bg">
    <loaders-css [loader]="'line-spin-fade-loader'" [loaderClass]="'circle-loader'"></loaders-css>
  </div>
</div>
<toaster-container></toaster-container>
<router-outlet></router-outlet>
