/* Loader Start */
body.modal-open{
    width:100%!important;
    padding-right:0!important;
    overflow-y:scroll!important;
    position:fixed!important;
}
.modal-dialog{
    overflow-y: initial !important
}
.loader .circle-loader {
    background-color: #f2f2f2;
    z-index: 999999;
}
.my-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: orange;
  opacity: 0.9;
  z-index: 9999;
}
.my-loading .loading-bg {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/* Loader End */
