<app-common-header></app-common-header>

<div class="container" style="width: auto; margin-top:3%;">

  	<div class="my-account">

  		<ul class="tabs-nav">
  			<li><a href="#tab1">Login</a></li>
  		</ul>
  		<div class="tabs-container">
  			<!-- Login -->
  			<div class="tab-content" id="tab1">
  				<form>

  					<p class="form-row form-row-wide">
  						<label for="username">User Name:
  							<i class="ln ln-icon-Male"></i>
  							<input type="text" class="input-text" name="username" [(ngModel)]="username" required="required"/>
  						</label>
  					</p>

  					<p class="form-row form-row-wide">
  						<label for="password">Password:
  							<i class="ln ln-icon-Lock-2"></i>
  							<input type="password" class="input-text" name="password" [(ngModel)]="password" required="required"/>
  						</label>
  					</p>

  					<p class="form-row">
  						<input type="submit" class="button border fw margin-top-10" value="Login" (click)="login()"/>

  						<label for="rememberme" class="rememberme">
  						<input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me</label>
  					</p>

  					<p class="lost_password">
  						<a href="javascript:void(0)" >Lost Your Password?</a>
  					</p>

  				</form>
  			</div>
  		</div>
  	</div>
  </div>
<app-footer></app-footer>