.aside-menu{
    background-color: #26ae61;
    color: #fff;
    transform: translate3d(100%, 0px, 0px); // Start toggle if uncommented
    // <button type="button" (click)="left1.toggle()">Toggle Left Over Aside</button>
    
}
.aside-content{
    overflow: scroll;
}
.sidebar-ul {
    padding: 15% 0px 0px 15%;
}
.sidebar-li {
    font-size: x-large;
    font-weight: 500;
    margin: auto;
    margin-bottom: 10%;
    padding: 2%;
}
.wrapper {
    padding-left: 240px;
}
.dashboard{
    margin:auto; 
    display:table;
    margin-top: 15%;
    margin-left: 30%;
}
.sidebar-li a{
    color: inherit;
}
.sidebar-li a:hover{
    color: #505050;
}
i{
    margin-right: 10%;
    color: cyan;
}
span.badge-1 {
    position: absolute;
    top: 13%;
    left: 24%;
    font-size: small;
    color: greenyellow;
}
span.badge-2 {
    position: absolute;
    top: 21%;
    left: 24%;
    font-size: small;
    color: greenyellow;
}
.f_notification, .c_notification, .l_notification, .l_client, .add_freelancer, .add_client, .n_details{
    text-align: center;
    font-weight: bold;
}
.job_details{
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
    font-size: larger
}
.comment_form {
    margin: auto;
    width: 50%;
    margin-top: 2%;
}
.job_table{
    margin-top: 1%;
}
.job_table tr, .job_table th, .job_table td{
    font-size: initial;
    padding: 10px 0px;
}
table {
    width: 100%;
    text-align: center;
    margin-top:2%;
}
th {
    font-size: larger;
    font-weight: bold;
}
i.ln.ln-icon-Brush {
    color: blue;
    font-weight: bold;
    font-size: larger;
}
i.ln.ln-icon-Trash-withMen {
    color: red;
    font-weight: bold;
    font-size: larger;
}
i.ln.ln-icon-Mail-Read {
    color: green;
    font-weight: bold;
    font-size: larger;
}
i.ln.ln-icon-Mail-Unread {
    color: yellow;
    font-weight: bold;
    font-size: larger;
}
table, tr, th, td{
    border: 1px solid green;
    padding: 10px;
}
.freelance_client {
    position: fixed;
    top: 1%;
    right: 1%;
    font-size: 15px;
}
i.ln.ln-icon-Add-UserStar {
    color: lightcyan;
    font-size: larger;
    margin-right: 10px;
}
.register {
    width: 60%;
    margin: auto;
}
@media only screen and (max-width:1125px){
    .register {
        width: 70%;
        margin: auto;
    }
}
select{
    margin-top: 8px;
    padding: 10px;
}
.invalid_input{
    border:1px solid red;
}
input[type="text"], input[type="number"]{
    padding: 10px;   
}
p{
    margin-bottom: 0px;
}
.span_required{
    color: red;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 0px;
    left: 5px;
}
input[type="date"]{
    padding: 10px;
    outline: none;
    font-size: 15px;
    color: #909090;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fcfcfc;
    font-weight: 500;
    border: 1px solid #e0e0e0;
    opacity: 1;
}