<aside-layout>
    <aside-menu #left1 side="left" width="240px" isBackdrop="true" sideMode="over">
        <ul class="sidebar-ul">
            <li class="sidebar-li"><a href="javascript:void(0)" (click)="f_dashboard()"><i class="ln ln-icon-Home"></i> Dashboard</a></li>
            <li class="sidebar-li"><a href="javascript:void(0)" (click)="f_n_freelancers()"><i class="ln ln-icon-Bell-2"></i><span class="badge-1">{{freelancer_count}} New</span>Freelancers</a></li>
            <li class="sidebar-li"><a href="javascript:void(0)" (click)="f_n_clients()"><i class="ln ln-icon-Bell-2"></i><span class="badge-2">{{client_count}} New</span>Clients</a></li>
            <li class="sidebar-li"><a href="javascript:void(0)" (click)="f_freelaners()"><i class="ln ln-icon-Boy"></i>Freelancers</a></li>
            <li class="sidebar-li"><a href="javascript:void(0)" (click)="f_clients()"><i class="ln ln-icon-Boy"></i>Clients</a></li>
            <li class="sidebar-li"><a href="javascript:void(0)" (click)="logout()"><i class="ln ln-icon-Power-3"></i>Logout</a></li>
        </ul>
    </aside-menu>
    
    <div class="aside-content">
        
        <div class="wrapper">
            
            <div class="dashboard" *ngIf="dashboard">
                <h1>Welcome to Dashboard</h1>
            </div>

            <div class="freelancers-notification" *ngIf="n_freelancers">
                <h1 class="f_notification">Freelancers Notification</h1>
                <table>
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>Sent By</th>
                            <th>Status</th>
                            <th>Message</th>
                            <th>Notes</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let notification of freelancers_notifications; let i=index;">
                            <td>{{i+1}}.</td>
                            <td><a href="javascript:void(0)" (click)="getNotification(notification)" style="color:blue;">{{notification.sentBy}}</a></td>
                            <td *ngIf="notification.status=='unresolved'" style="color:red;">{{notification.status}}</td>
                            <td *ngIf="notification.status!='unresolved'">{{notification.status}}</td>
                            <td>{{notification.message}}</td>
                            <td>{{notification.notes}}</td>
                            <td><a href="javascript:void(0)" (click)="getNotification(notification)"><i class="ln ln-icon-Brush"></i></a></td>
                            <td><a href="javascript:void(0)" (click)="deleteNotification(notification)"><i class="ln ln-icon-Trash-withMen"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="clients-notification" *ngIf="n_clients">
                <h1 class="c_notification">Clients Notification</h1>
                <table>
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>Sent By</th>
                            <th>Status</th>
                            <th>Message</th>
                            <th>Notes</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let notification of clients_notifications; let i=index;">
                            <td>{{i+1}}.</td>
                            <td><a href="javascript:void(0)" (click)="getNotification(notification)" style="color:blue;">{{notification.sentBy}}</a></td>
                            <td *ngIf="notification.status=='unresolved'" style="color:red;">{{notification.status}}</td>
                            <td *ngIf="notification.status!='unresolved'">{{notification.status}}</td>
                            <td>{{notification.message}}</td>
                            <td>{{notification.notes}}</td>
                            <td><a href="javascript:void(0)" (click)="getNotification(notification)"><i class="ln ln-icon-Brush"></i></a></td>
                            <td><a href="javascript:void(0)" (click)="deleteNotification(notification)"><i class="ln ln-icon-Trash-withMen"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="freelancers" *ngIf="freelancers">
                <h1 class="l_notification">List of Freelancers</h1>
                <button class="freelance_client" (click)="freelancer(freelancer)"><span><i class="ln ln-icon-Add-UserStar"></i></span> Add Freelancers</button>
                <table>
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let freelance of total_freelancer; let i=index;">
                            <td>{{i+1}}.</td>
                            <td>{{freelance.user?.first_name}} {{freelance.user?.last_name}}</td>
                            <td>{{freelance.user?.email}}</td>
                            <td>{{freelance.user?.phone}}</td>
                            <td><a href="javascript:void(0)" (click)="updateFreelancerForm(freelance)"><i class="ln ln-icon-Brush"></i></a></td>
                            <td><a href="javascript:void(0)" (click)="removeFreelancer(freelance)"><i class="ln ln-icon-Trash-withMen"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="clients" *ngIf="clients">
                <h1 class="l_client">List of Clients</h1>
                <button class="freelance_client" (click)="client(client)"><span><i class="ln ln-icon-Add-UserStar"></i></span> Add Clients</button>
                <table>
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of total_client; let i=index;">
                            <td>{{i+1}}.</td>
                            <td>{{client.user?.first_name}} {{client.user?.last_name}}</td>
                            <td>{{client.user?.email}}</td>
                            <td>{{client.user?.phone}}</td>
                            <td><a href="javascript:void(0)" (click)="updateClientForm(client)"><i class="ln ln-icon-Brush"></i></a></td>
                            <td><a href="javascript:void(0)" (click)="removeClient(client)"><i class="ln ln-icon-Trash-withMen"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="add_freelancer_client" *ngIf="add_freelancer_client">
                <h1 class="add_freelancer" *ngIf="add_freelancer">Add Freelancer</h1>
                <h1 class="add_freelancer" *ngIf="update_freelancer">Update Freelancer</h1>
                <h1 class="add_client" *ngIf="add_client">Add Client</h1>
                <h1 class="add_client" *ngIf="update_client">Update Client</h1>
                <div class="register">
                    <form method="post">
                        <p class="form-row form-row-wide">
                        <label for="firstname">First Name<span class="span_required">*</span>
                            <input type="text" name="first_name" [(ngModel)]="signup.first_name"/>
                        </label>
                        </p>
                        <p class="form-row form-row-wide">
                        <label for="lastname">Last Name<span class="span_required">*</span>
                            <input type="text" name="last_name" [(ngModel)]="signup.last_name"/>
                        </label>
                        </p>
                        <p class="form-row form-row-wide" *ngIf="add_freelancer || update_freelancer">
                        <label for="type">Type<span class="span_required">*</span>
                            <select name="role" [(ngModel)]="signup.role">
                                <option value="freelancer">Freelancer</option>
                            </select>
                        </label>
                        </p>
                        <p class="form-row form-row-wide" *ngIf="add_client || update_client">
                            <label for="type">Type<span class="span_required">*</span>
                                <select name="role" [(ngModel)]="signup.role">
                                    <option value="client">Client</option>
                                </select>
                            </label>
                        </p>
                        <p class="form-row form-row-wide">
                        <label for="username">User Name<span class="span_required">*</span>
                            <input type="text" name="username" [(ngModel)]="signup.username"/>
                        </label>
                        </p>
                        <p class="form-row form-row-wide">
                        <label for="phonenumber">Mobile Number<span class="span_required">*</span>
                            <input type="number" name="phone" [(ngModel)]="signup.phone"/>
                        </label>
                        </p>
                        <p class="form-row form-row-wide">
                            <label for="email">Email Address<span class="span_required">*</span>
                                <input type="text" name="email" [(ngModel)]="signup.email"/>
                            </label>
                        </p>
                        <p class="form-row form-row-wide">
                            <label for="password">Password<span class="span_required">*</span>
                                <input type="password" name="password" [(ngModel)]="signup.password"/>
                            </label>
                        </p>
                      
                        <div *ngIf="add_freelancer || update_freelancer">
                            <p class="form-row form-row-wide">
                                <label for="date">Date of Birth<span class="span_required">*</span>
                                    <input type="date" name="date_of_birth" [(ngModel)]="freelance.date_of_birth"/>
                                </label>
                            </p>
                            <p class="form-row form-row-wide">
                                <label for="linkedin">LinkedIn URL<span class="span_required">*</span>
                                    <input type="text" name="linkedin_url" [(ngModel)]="freelance.linkedin_url"/>
                                </label>
                            </p>
                            <p class="form-row form-row-wide">
                                <label for="github">Github URL<span class="span_required">*</span>
                                    <input type="text" name="github_url" [(ngModel)]="freelance.github_url"/>
                                </label>
                            </p>
                            <p class="form-row form-row-wide">
                                <label for="experience">Experience In Year<span class="span_required">*</span>
                                    <input type="number" name="experience" [(ngModel)]="freelance.experience_in_years"/>
                                </label>
                            </p>
                            <p class="form-row form-row-wide">
                                <label for="description">Description<span class="span_required">*</span>
                                    <input type="text" name="description" [(ngModel)]="freelance.description"/>
                                </label>
                            </p>
                            <p class="form-row form-row-wide">
                                <label for="rating">Rating<span class="span_required">*</span>
                                    <input type="number" name="rating" [(ngModel)]="freelance.rating"/>
                                </label>
                            </p>
                        </div>
                        <div *ngIf="add_client || update_client">
                            <p class="form-row form-row-wide">
                                <label for="company">Company<span class="span_required">*</span>
                                    <input type="text" name="company" [(ngModel)]="client_model.company"/>
                                </label>
                            </p>
                            <p class="form-row form-row-wide">
                                <label for="rating">Rating<span class="span_required">*</span>
                                    <input type="number" name="rating" [(ngModel)]="client_model.rating"/>
                                </label>
                            </p>
                        </div>
                        <p class="form-row">
                            <input type="submit" class="button border fw margin-top-10" (click)="addFreelancer()" value="Add Freelancer" *ngIf="add_freelancer"/>
                            <input type="submit" class="button border fw margin-top-10" (click)="updateFreelancer()" value="Update Freelancer" *ngIf="update_freelancer"/>
                            <input type="submit" class="button border fw margin-top-10" (click)="addClient()" value="Add Client" *ngIf="add_client"/>
                            <input type="submit" class="button border fw margin-top-10" (click)="updateClient()" value="Update Client" *ngIf="update_client"/>
                        </p>
                    </form>
                </div>
            </div>

            <div class="notification_details" *ngIf="notification_details">
                <h1 class="n_details">Notification Details</h1>
                <h6 class="job_details">Job Details</h6>
                <table class="job_table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Domain</th>
                            <th>Technologies</th>
                            <th>Location</th>
                            <th>Type</th>
                            <th>Posted At</th>
                            <th>Closed BY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{get_job.title}}</td>
                            <td>{{get_job.description}}</td>
                            <td>{{get_job.domain}}</td>
                            <td>{{get_job.technologies}}</td>
                            <td>{{get_job.job_location.lat}} , {{get_job.job_location.lng}}</td>
                            <td>{{get_job.job_type}}</td>
                            <td>{{get_job.created_at | date : format : timezone}}</td>
                            <td>{{get_job.closing_date | date : format : timezone}}</td>
                        </tr>
                    </tbody>
                </table>
                <h6 class="job_details">Freelancer Details</h6>
                <table class="job_table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Location</th>
                            <th>Experience</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{get_freelancer.user.first_name}} {{get_freelancer.user.last_name}}</td>
                            <td>{{get_freelancer.user.email}}</td>
                            <td>{{get_freelancer.user.phone}}</td>
                            <td>{{get_freelancer.location.lat}} , {{get_freelancer.location.lng}}</td>
                            <td>{{get_freelancer.experience_in_years}} Year</td>
                            <td>{{get_freelancer.rating}}</td>
                        </tr>
                    </tbody>
                </table>
                <h6 class="job_details">Client Details</h6>
                <table class="job_table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Location</th>
                            <th>Company</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{get_client.user.first_name}} {{get_client.user.last_name}}</td>
                            <td>{{get_client.user.email}}</td>
                            <td>{{get_client.user.phone}}</td>
                            <td>{{get_client.location.lat}} , {{get_client.location.lng}}</td>
                            <td>{{get_client.company}}</td>
                            <td>{{get_client.rating}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="comment_form">
                    <form method="post">
                        <h6 class="job_details">Comment</h6>
                        <p class="form-row form-row-wide">
                            <textarea type="text" name="notes" [(ngModel)]="notification_data.notes">{{notification_data.notes}}</textarea>
                        </p>
                        <p class="form-row form-row-wide">
                            <input type="button" class="button" value="Save" (click)="updateNotification()"/>
                        </p>
                    </form>
                </div>
            </div>

        </div>
    
    </div>

</aside-layout>
