.location_span{
    color: #fff;
    padding: 7px 30px;
    background: #26ae61;
    border-radius: 3px;
    position: relative;
    top: -38px;
    right: -87%;
    z-index: 10;
    font-size: 30px;
    right: -890px;
}
.popup-with-zoom-anim{
    color:#fff;
}

.update-float-right{
  float: right;
}

.selected-list .c-list .c-token{
      background: green;
}
