<app-common-header></app-common-header>

<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
  <div class="small-dialog-headline">
    <h2>Get Location</h2>
  </div>
  <div class="small-dialog-content" style="padding:0px;">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerMove($event)"></agm-marker>
      </agm-map>
  </div>
</div>
<form #addjobForm="ngForm" novalidate="">
<!-- Content
================================================== -->
<div class="container">
  <!-- Submit Page -->
  <div class="sixteen columns">
    <div class="submit-page">

      <!-- Date of Bith -->
      <div class="form">
        <h5>Date of Bith</h5>
        <input type="text" id="datepicker" name="dob" [(ngModel)]="freelancer.date_of_birth" required="required">
        <p class="note">Date of Birth</p>
      </div>

      <!-- Choose Category -->
      <div class="form" style="width: 920px;">
          <h5>Technologies</h5>
          <app-select-technologies [selectedItems]="selectedItems" [technologiesName]="myaccounttechnologies"></app-select-technologies>
        <!--  <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
              [settings]="dropdownSettings"
              name="technologiesdrop"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="OnItemDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)">
          </angular2-multiselect> -->
      </div>
      <!--  -->
      <div class="form">
        <h5>Linkedin Url</h5>
        <input class="search-field" type="text" name="linkedin" [(ngModel)]="freelancer.linkedin_url" required="required" value=""/>
      </div>

      <!-- Title -->
      <div class="form">
        <h5>Github Url</h5>
        <input class="search-field" type="text" name="title" [(ngModel)]="freelancer.github_url" required="required" value=""/>
      </div>


      <div class="form">
        <h5>Location<span>
          </span>
        </h5>
        <input class="search-field" type="text" name="freelancer_location" id="freelancer_location" [(ngModel)]="freelancer.location" required="required" readonly="readonly"/>
        <a (click)="openmap()" href="#small-dialog" class="popup-with-zoom-anim"><span class="location_span"><i class="fa fa-map-marker"></i></span></a>
      </div>


      <div class="form">
        <h5>Experience in years</h5>
          <input class="search-field" type="number" name="experience" [(ngModel)]="freelancer.experience_in_years" required="required" value=""/>
      </div>


      <!-- Description -->
      <div class="form">
        <h5>Description</h5>
        <textarea name="summary" cols="20" rows="3" id="summary" name="description" [(ngModel)]="freelancer.description" required="required" spellcheck="true"></textarea>
      </div>

      <!-- Logo -->
      <div class="form">
        <h5>Resume</h5>
        <label class="upload-btn">
            <input type="file" (change)="fileChange($event)" accept=".pdf,.doc,.docx"/>
            <i class="fa fa-upload"></i> Browse
        </label>
        <span class="fake-input">{{freelancer.resume}}</span>
      </div>

      <button class="button big margin-top-5 margin-bottom-5 update-float-right" (click)="updateFreelancer()">Update</button>

    </div>
  </div>
</div>

</form>

<app-footer></app-footer>
