/* You can add global styles to this file, and also import other style files */
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 50% !important;
    font-size: large;
    float: left;
}
div#ui-datepicker-div{
	z-index: 10 !important;
}
