<app-common-header></app-common-header>

<!-- Titlebar
================================================== -->
<div id="titlebar" class="single submit-page">
  <div class="container">
    <div class="sixteen columns">
      <h2><i class="fa fa-plus-circle"></i> Job Preview</h2>
    </div>
  </div>
</div>

<!-- Content
================================================== -->
<div class="container">
  <!-- Submit Page -->
  <div class="sixteen columns">
    <div class="submit-page">

      <!-- Notice -->
      <div class="notification notice closeable margin-bottom-40">
        <p><span>Have an account?</span> If you don’t have an account you can create one below by entering your email address. A password will be automatically emailed to you.</p>
      </div>

      <!-- Title -->
      <div class="form">
        <h5>Job Title</h5>
        <input class="search-field" type="text" [(ngModel)]="title" readonly="readonly"/>
      </div>

      <div class="form">
        <h5>Location<span> (<i class="fa fa-map-marker"></i>)
          </span>
        </h5>
        <input class="search-field" type="text" [(ngModel)]="job_location" readonly="readonly"/>
      </div>

      <!-- Job Type -->
      <div class="form">
        <h5>Job Type</h5>
        <input class="search-field" type="text" [(ngModel)]="job_type" readonly="readonly"/>
      </div>

      <!-- Choose Category -->
      <div class="form">
        <div class="select">
          <h5>Category</h5>
          <input class="search-field" type="text" [(ngModel)]="domain" readonly="readonly"/>
        </div>
      </div>

      <!-- Tags -->
      <div class="form">
        <h5>Job Tags</h5>
        <input class="search-field" type="text" [(ngModel)]="technologies" readonly="readonly"/>
      </div>

      <!-- Description -->
      <div class="form">
        <h5>Description</h5>
        <textarea cols="20" rows="3" [(ngModel)]="description" readonly="readonly"></textarea>
      </div>

      <!-- TClosing Date -->
      <div class="form">
        <h5>Closing Date</h5>
        <input class="search-field" type="text" [(ngModel)]="closing_date" readonly="readonly">
        <p class="note">Deadline for new applicants.</p>
      </div>

      <button class="button big margin-top-5" (click)="goback()"><i class="fa fa-arrow-left"></i> Go Back</button>
      <button class="button big margin-top-5" (click)="edit()"><i class="fa fa-pencil"></i> Edit job</button>
      
    </div>
  </div>
</div>

<app-footer></app-footer>
