select{
    margin-top: 8px;
    padding: 15px;
}

input[type="date"]{
	padding: 14px 18px;
    outline: none;
    font-size: 15px;
    color: #909090;
    margin: 0;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fcfcfc;
    font-weight: 500;
    border: 1px solid #e0e0e0;
    opacity: 1;
}

agm-map {
  height: 300px;
}

#locateme{
    padding: 0px 10px;
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 10px;
}